<div>
    <label for="password" class="block mb-2 text-sm font-medium"
      >Password</label
    >
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter your password"
      class="border border-white sm:text-sm rounded-lg block w-full p-2.5"
      required=""
    />
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-start">
      <div class="flex items-center">
        <input
          id="remember"
          aria-describedby="remember"
          type="checkbox"
          class="w-4 h-4 border border-gray-300 rounded focus:ring-primary-300 dark:border-gray-600"
          required=""
        />
      </div>
      <div class="ml-3 text-xs text-[#8083A3]">
        <label for="remember">Remember me</label>
      </div>
    </div>
    <a
      href="#"
      class="text-xs font-medium text-primary-600 hover:underline dark:text-primary-500"
      >Recover Password</a
    >
  </div>
  <button
    type="submit"
    class="w-full font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-[#1DA1F2] text-white"
  >
    Sign in
  </button>
  <div
    class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
  >
    <p class="text-center text-gray-400 font-light mx-4 mb-0">Or</p>
  </div>
  <div class="py-3">
    <a href="" class="text-[#8083A3]">
      <div class="flex items-center justify-center">
        <img
          src="{% static 'icons/google.png' %}"
          class="flex-start h-5 w-5"
          alt=""
        />
        <p>Sign in with Google</p>
      </div>
    </a>
  </div>
  <div class="py-3">
    <a href="" class="text-[#8083A3]">
      <div class="flex items-center justify-center">
        <img
          src="{% static 'icons/facebook.png' %}"
          class="flex-start h-5 w-5"
          alt=""
        />
        <p>Sign in with Facebook</p>
      </div>
    </a>
  </div>
  <div class="flex justify-around py-8 text-sm">
    <p class="font-light text-gray-500 dark:text-gray-400">
      you don’t have an account?
    </p>
    <a href="#" class="font-medium text-[#8083A3] hover:underline"
      >Sign up</a
    >
  </div>



  <div class="row flex justify-center">
    <div class="grid max-w-sm grid-cols-1 p-6 max-w-sm bg-white mx-auto text-center divide-y shadow-md">
      <a href="#">
          <h5 class="flex justify-center mb-2 text-xs font-bold ">Job Seeker</h5>
      </a>
      <span class="h-0.5 w-full bg-gray-300"></span>
      <p class="mb-3 font-normal text-xs">I want to find a new job.</p>
    </div>